[submodule "modules/debiki-core"]
	path = modules/debiki-core
	url = ../debiki-core.git
[submodule "modules/debiki-dao-pgsql"]
	path = modules/debiki-dao-pgsql
	url = ../debiki-dao-pgsql.git
[submodule "modules/debiki-tck-dao"]
	path = modules/debiki-tck-dao
	url = ../debiki-tck-dao.git
[submodule "modules/debiki-spa-admin"]
	path = modules/debiki-spa-admin
	url = ../debiki-spa-admin.git
[submodule "modules/debiki-spa-manage-websites"]
	path = modules/debiki-spa-manage-websites
	url = ../debiki-spa-manage-websites.git
