<!DOCTYPE html>

<html class="DW dw-pri dw-ui-simple dw-render-actions-pending  " >
<head>

  <meta name="viewport" content="initial-scale=1.0, minimum-scale=0.01"/>

  <meta charset="utf-8"/>



  <title>Debiki — for the fruitful conversations</title>
  <meta name="description" content="">
  <meta name="keywords" content="">





  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-sanitize.js"></script>




  <script>
    var debiki = $.extend(true, {
    getPageId: function() { return '5rjf6'; },
    v0: { util: {} },
    internal: {
    $: jQuery,
    pageId: '5rjf6',
    assetsUrlPathStart: '/-/assets/39/',
    singleColumnLayout: Math.max(jQuery(window).width(), jQuery(window).height()) < 1000
    }
    }, debiki);

    debiki.scriptLoad = $.Deferred();
    Modernizr.load({
    test: Modernizr.touch,
    yep: '/-/assets/39/combined-debiki-touch.js',
    nope: '/-/assets/39/combined-debiki-desktop.js'
    });
  </script>


  <script src="http://192.168.0.100:8081/target/target-script-min.js"></script>



  <script>
    if (!Modernizr.touch) jQuery(document).ready(function($) {
    Modernizr.load({
    load: [
    '/-/tmp/yoxview/jquery.yoxview-2.21.min.js',
    '/-/tmp/yoxview/yoxview.css'],
    complete: function() {
    jQuery.noConflict();
    $('.yoxview').yoxview();
    }
    });
    });
  </script>


  <script>
    var addthis_config = {
    //data_track_addressbar: true,
    data_track_clickback: false, // or '.' might appear which causes: PagePathException: Bad punctuation chars [...]all-upvotes#.UU9QPlvbrww
    ui_508_compliant: true,
    url: location.origin + '/-' + debiki.getPageId()
    };
    Modernizr.load("//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ff450e53dfcdcab");
  </script>



  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31694067-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>
<body>


<div id='topbar'>
  <div class='container ui-helper-clearfix'>
    <a class='logo-slogan' href='/'>
      <img src="/-/img/logo-128x120.png">
      <span class='logo'>Debiki</span>
      <span class='slogan'>— for the fruitful conversations</span>

    </a>
    <span id='dw-loginout'><span id="dw-u-info">
      <span class="dw-u-name"></span>
    </span><span class="dw-u-lgi-lgo">
      <a id="dw-a-login">Log in</a>
      <a id="dw-a-logout">Log out</a>
    </span></span>
    <nav id='site-nav' class='debiki-0-mark-current-site-section'>
      <a href="/about/">About</a>
      <a href="/forum/">Forum</a>
      <a href="/blog/">Blog</a>
      <a href="/-81n25-source-code">Source Code</a>
      <a href="/-9p2u1-hosting-and-pricing">Hosting</a>
      <a href='/demo/-71cs1-demo-page-1'>Demo</a>

    </nav>

  </div>
</div>

<div id='alfa-info' class='debiki-show-if-lte-ie8'>
  <div class='alfa-small'>
    Please consider upgrading to
    <a rel='nofollow' href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home'
        >a newer version of Internet Explorer</a>
    (or install <a rel='nofollow' href='http://www.google.com/chrome'>Google Chrome</a>,
    it's even faster).
  </div>
</div>

<div class='container'>
<div id="content">
<article>

<!-- default20121009/forumTopic.scala.html -->



<!-- default20121009/parentForumsList.scala.htm -->

<ol class="parent-forums-list">

  <li>
    <a href="/forum/">Forum</a>
  </li>

  <li>
    <a href="/forum/-1d8z5-subforum">General</a>
  </li>

</ol>



<div id="page-5rjf6" class="debiki dw-debate dw-page" data-page_exists="true" data-page_path="/forum/-5rjf6-semantics-of-an-upvote" data-page_role="ForumTopic" data-page_status="Published" data-parent_page_id="1d8z5">

<div id="dw-t-65501" class="dw-t dw-depth-0"><div id="post-65501" class="dw-p dw-p-ttl">
  <div class="dw-p-bd">
    <div class="dw-p-bd-blk">
      <h1 class="dw-p-ttl">Semantics of an upvote - how to deal with it?</h1>
    </div>
  </div>
</div></div>
<div class="dw-p-hd dw-ar-p-hd">
  By <span class="dw-p-by" data-dw-u-id="71">Piotr</span><abbr class="dw-date dw-p-at" title="2013-06-18T08:18:39Z">, 2013-06-18 08:18:39Z</abbr><span class="dw-p-hd-e">, improved <abbr class="dw-date dw-p-at" title="2013-06-18T08:31:46Z">, 2013-06-18 08:31:46Z</abbr>
        </span>
</div>
<div class="social-links">
  <div class="addthis_toolbox addthis_default_style">

    <span class="social-links-title">Share page:</span>
    <a class="addthis_button_facebook_like"></a>
    <a class="addthis_button_tweet"></a>
    <a class="addthis_button_google_plusone"></a>
    <!-- <a class="addthis_counter addthis_pill_style"></a> -->

    <span class="social-links-title">Follow:</span>
    <a class="addthis_button_twitter_follow" addthis:userid="kajmagnus79"></a>
    <a class="addthis_button_google_follow" addthis:userid="107783140083095917763"></a>
  </div>
</div>

<div id="dw-t-65502" class="dw-t dw-ar-t dw-depth-0 dw-hor">
<div id="post-65502" class="dw-p dw-ar-p"><div class="dw-p-bd dw-ar-p-bd">
  <div class="dw-p-bd-blk"><p>One of issues of different social and discussion sites is that up/downvotes have unclear meaning. Is it liking that someone is posting something (&quot;thanks for sharing&quot;), or liking its content (easthetically, intellectually, socially, emotionally, ...), or perceiving that it provided an added value...</p>

    <p>For that reason it is common to have &quot;recommended thigs&quot; swamped with posts with a lot of &quot;likes&quot; as they:</p>

    <ul>
      <li>where posted by someone already popular or</li>
      <li>has a wide appeal (usually: shallow) or</li>
      <li>is presonally/emotionally loaded or</li>
      <li>idealogical things (e.g. &quot;I am for open science, so I upvote everything with it in the title&quot;).</li>
    </ul>

    <p>The problem is that quality content dissapear.
      Things that are only to interest of a specialized group (say, developers of discussion platforms),
      or things requireing reading 50 pages before you can actually judge its value, don't have a good change to get a lots of likes (and hence: spread).</p>

    <p>However, complicating voting to much (eg. requirying making a few words comment) can be too much.</p>

    <p>Any ideas to deal with that? </p>

    <p>E.g.</p>

    <ul>
      <li>a number tag-valued votes (vide TED.com),</li>
      <li>to axis: emotional and intellectual,</li>
      <li>votes 1-5 with post-analysis (e.g. putting low weigth on voters who cannot use it and use only 1 and 5),</li>
      <li>a few word comments (i.e. &quot;well said&quot;, &quot;nice reference&quot;, &quot;good idea, poorly presented&quot;)?</li>
    </ul></div>
</div></div><div class="dw-t-vspace"></div><ol class="dw-res">
<li class="dw-p-as dw-as dw-p-as-hz">
  <a class="dw-a dw-a-reply">Reply</a>
  <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>


</li>


<li class="dw-fs dw-fs-re" style="display: list-item; min-width: 119px;">
  <div class="dw-arw dw-arw-hz-line-to-sibling"></div>
  <form action="?reply=" accept-charset="UTF-8" method="post" class="ng-pristine ng-valid ui-resizable">
    <input type="hidden" class="dw-fi-xsrf" name="dw-fi-xsrf" value="1382191652176.xnuv4ln7e3">

    <input type="hidden" id="dw-fi-reply-where_sno-2" name="dw-fi-reply-where" value="">
    <div>
      <label for="dw-fi-reply-text_sno-2" class="dw-ui-state-default-color dw-ui-widget-font">Your reply:</label><br>
      <textarea id="dw-fi-reply-text_sno-2" name="dw-fi-reply-text" rows="13" cols="38"></textarea>
    </div>

    <div class="dw-submit-set">
      <input class="dw-fi-cancel ui-button ui-widget ui-state-default ui-corner-all" type="button" value="Cancel" role="button" aria-disabled="false">
      <input class="dw-fi-submit dw-loginsubmit-on-click ui-button ui-widget ui-state-default ui-corner-all" type="submit" value="Post as ..." role="button" aria-disabled="false">
    </div>
    <div class="ui-resizable-handle ui-resizable-e" style="z-index: 1000; display: block;"></div><div class="ui-resizable-handle ui-resizable-s" style="z-index: 1000; display: block;"></div><div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1000; display: block;"></div></form>
</li>


<li><div id="dw-t-2" class="dw-t dw-depth-1"><a class="dw-z"></a><div id="post-2" class="dw-p"><div class="dw-p-hd">
  By <span class="dw-p-by" data-dw-u-id="55">KajMagnus</span><abbr class="dw-date dw-p-at" title="2013-06-19T01:01:44Z">, 2013-06-19 01:01:44Z</abbr><a class="dw-p-link">#2</a><span class="dw-p-r dw-p-r-top">, rated <em>interesting?</em></span><span class="dw-p-hd-e">, improved <abbr class="dw-date dw-p-at" title="2013-06-19T01:03:04Z">, 2013-06-19 01:03:04Z</abbr>
        </span><div class="dw-p-r-all" data-mtime="2013-06-19T01:01:50Z">1 ratings:
  <ol class="dw-p-r dw-rs"><li class="dw-r" data-stats="lo: 20%, sum: 0.1"> interesting 100% </li></ol></div>
</div><div class="dw-p-bd">
  <div class="dw-p-bd-blk"><p>I'm thinking that:</p>

    <p>1) It should be easy to vote, otherwise too few people will vote.</p>

    <p>2) People should be encouraged to explain why they voted as they did.</p>

    <p>Therefore, I'm thinking about traditional Like/Dislike buttons, which one simply clicks to cast a vote. But after that, a menu is briefly shown, where the voter can clarify why s/he upvoted the comment:</p>

    <p>&quot;Funny/Cute&quot; <br>
      &quot;Insightful&quot; <br>
      &quot;I agree with this&quot; <br>
      &quot;S/he is my idol&quot;</p>

    <p>If the voter ignores this menu, the vote could be downweighted.</p></div>
</div></div><div class="dw-p-as dw-as">




  <a class="dw-a dw-a-reply">Reply</a>
  <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
</div><ol class="dw-res">

  <li id="dw-t-3" class="dw-t dw-depth-2"><a class="dw-z"></a><div id="post-3" class="dw-p"><div class="dw-p-hd">
    By <span class="dw-p-by" data-dw-u-id="55">KajMagnus</span><abbr class="dw-date dw-p-at" title="2013-06-19T01:04:26Z">, 2013-06-19 01:04:26Z</abbr><a class="dw-p-link">#3</a><span class="dw-p-hd-e">, improved <abbr class="dw-date dw-p-at" title="2013-06-19T01:08:26Z">, 2013-06-19 01:08:26Z</abbr>
        </span>
  </div><div class="dw-p-bd">
    <div class="dw-p-bd-blk"><p>But there's a problem with this: By default, the computer would probably show Insightful comments first (?). But then everyone will select Insightful as the reason why s/he upvoted a comment (so that they can have their favorite comment appear first).</p>

      <p>Perhaps this problem can be mitigated if the computer somehow learns what kind of comments each visitor likes, and then sorts comments differently, depending on who is reading. Then there would no longer be any reason for the voters to to &quot;cheat&quot; by always classify each vote as being Insightful.</p>

      <p><small>(How could the computer know? Well, if example person Adam tends to only upvote comments that other people have vote-classified as &quot;Funny/Cute&quot;, then the computer would assume that Adam likes funny &amp; cute things, and could try to show such comments to Adam, rather than e.g. Insightful comments.)</small></p>

      <p>Also, perhaps it should be possible for moderators to tell the computer when someone has obviously misused the voting system, e.g. classified an upvote of a cute kitten as &quot;Insightful&quot;. Then that voter's votes could be downweighted.</p></div>
  </div></div><div class="dw-p-as dw-as">




    <a class="dw-a dw-a-reply">Reply</a>
    <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
  </div></li><li id="dw-t-6" class="dw-t dw-depth-2"><a class="dw-z"></a><div id="post-6" class="dw-p"><div class="dw-p-hd">
  By <span class="dw-p-by" data-dw-u-id="71">Piotr</span><abbr class="dw-date dw-p-at" title="2013-06-19T07:37:58Z">, 2013-06-19 07:37:58Z</abbr><a class="dw-p-link">#6</a>
</div><div class="dw-p-bd">
  <div class="dw-p-bd-blk"><p>I think that a menu is not a good idea. It should be simple, so it should be possible to case a vote within a single click. </p></div>
</div></div><div class="dw-p-as dw-as">




  <a class="dw-a dw-a-reply">Reply</a>
  <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
</div></li><li id="dw-t-7" class="dw-t dw-depth-2"><a class="dw-z"></a><div id="post-7" class="dw-p"><div class="dw-p-hd">
  By <span class="dw-p-by" data-dw-u-id="71">Piotr</span><abbr class="dw-date dw-p-at" title="2013-06-19T07:41:07Z">, 2013-06-19 07:41:07Z</abbr><a class="dw-p-link">#7</a>
</div><div class="dw-p-bd">
  <div class="dw-p-bd-blk"><p>And when it comes to the clarification, in principle it may work, but I am curious if it is not a dangerously narrow region between &quot;I don't care to provide more info&quot; and &quot;I would write a comment&quot;.</p>

    <p>BTW: As a radical note: how about voting <em>only</em> by putting comments (just too short comments will be collapsed/gathered). It is not hard to run sentiment analysis to get if they are positive or not. Plus, it can give more info and may discourage from &quot;mindless voting&quot;. </p></div>
</div></div><div class="dw-p-as dw-as">




  <a class="dw-a dw-a-reply">Reply</a>
  <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
</div><ol class="dw-res">

  <li id="dw-t-9" class="dw-t dw-depth-3"><a class="dw-z"></a><div id="post-9" class="dw-p"><div class="dw-p-hd">
    By <span class="dw-p-by" data-dw-u-id="55">KajMagnus</span><abbr class="dw-date dw-p-at" title="2013-06-20T03:48:25Z">, 2013-06-20 03:48:25Z</abbr><a class="dw-p-link">#9</a><span class="dw-p-hd-e">, improved <abbr class="dw-date dw-p-at" title="2013-06-20T03:49:43Z">, 2013-06-20 03:49:43Z</abbr>
        </span>
  </div><div class="dw-p-bd">
    <div class="dw-p-bd-blk"><p>Re a dangerously narrow region: Yes you might well be right.</p>

      <p>Re voting by only writing comments: I think that's a really interesting idea. Some notes: 1) It'd actually take fairly long to integrate a good sentiment analysis utility. 2) To vote, one would need to release the mouse and start typing at the keyboard. 3) I think some functionality for correcting the computer when the sentiment analysis failed would be needed.</p>

      <p>I also think it discourages from mindless voting. — I think that voting by writing comments might make people honest with their votes. They wouldn't tend to write &quot;Insightful&quot; next to a cute puppet. Doing that would 1) give them a tiny bit bad conscience, and 2) they'd feel somewhat ashamed, because they'd know that the &quot;vote&quot; was auditable — the vote-comment would be associated with their name.</p></div>
  </div></div><div class="dw-p-as dw-as">




    <a class="dw-a dw-a-reply">Reply</a>
    <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
  </div></li>
</ol></li>
</ol></div></li><li><div id="dw-t-4" class="dw-t dw-depth-1"><a class="dw-z"></a><div id="post-4" class="dw-p"><div class="dw-p-hd">
  By <span class="dw-p-by" data-dw-u-id="55">KajMagnus</span><abbr class="dw-date dw-p-at" title="2013-06-19T01:21:41Z">, 2013-06-19 01:21:41Z</abbr><a class="dw-p-link">#4</a>
</div><div class="dw-p-bd">
  <div class="dw-p-bd-blk"><p>I didn't understand this: &quot;a number tag-valued votes (vide TED.com)&quot; — is there a voting system at ted.com? I had a look at the site, but found only thumbs up buttons in the comment section below a video.</p>

    <p>Perhaps you've noticed that Quora has somewhat divided votes along two axis: there're up and down votes, but also a Thanks button :-)  However, always when I've clicked Thanks, I also upvoted the related text.</p></div>
</div></div><div class="dw-p-as dw-as">




  <a class="dw-a dw-a-reply">Reply</a>
  <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
</div><ol class="dw-res">

  <li id="dw-t-5" class="dw-t dw-depth-2"><a class="dw-z"></a><div id="post-5" class="dw-p"><div class="dw-p-hd">
    By <span class="dw-p-by" data-dw-u-id="71">Piotr</span><abbr class="dw-date dw-p-at" title="2013-06-19T07:35:09Z">, 2013-06-19 07:35:09Z</abbr><a class="dw-p-link">#5</a>
  </div><div class="dw-p-bd">
    <div class="dw-p-bd-blk"><p>On TED.com you can &quot;rate&quot; each talk by distributing 3 points among (you can also 2- or 3-vote a single position):</p>

      <ul>
        <li>Jaw-dropping</li>
        <li>Persuasive</li>
        <li>Courageous</li>
        <li>Ingenious</li>
        <li>Fascinating</li>
        <li>Inspiring</li>
        <li>Beautiful</li>
        <li>Funny</li>
        <li>Informative</li>
        <li>OK</li>
        <li>Unconvincing</li>
        <li>Confusing</li>
        <li>Longwinded</li>
        <li>Obnoxious</li>
      </ul>

      <p>Sure, the choice of tags may be not optimal, but for me it still gives a lot more information than +/-.</p></div>
  </div></div><div class="dw-p-as dw-as">




    <a class="dw-a dw-a-reply">Reply</a>
    <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
  </div><ol class="dw-res">

    <li id="dw-t-8" class="dw-t dw-depth-3"><a class="dw-z"></a><div id="post-8" class="dw-p"><div class="dw-p-hd">
      By <span class="dw-p-by" data-dw-u-id="55">KajMagnus</span><abbr class="dw-date dw-p-at" title="2013-06-20T03:23:44Z">, 2013-06-20 03:23:44Z</abbr><a class="dw-p-link">#8</a><span class="dw-p-hd-e">, improved <abbr class="dw-date dw-p-at" title="2013-06-20T03:24:38Z">, 2013-06-20 03:24:38Z</abbr>
        </span>
    </div><div class="dw-p-bd">
      <div class="dw-p-bd-blk"><p>TED.com hasn't heard about <a href="http://en.wikipedia.org/wiki/The_Magical_Number_Seven,_Plus_or_Minus_Two" rel="nofollow">The Magical Number Seven</a> :-)</p>

        <p>TED.com's system is fairly similar to the current rating system Debiki? Except that Debiki one cannot currently give &gt; 1 point to each &quot;rating tag&quot;.</p>

        <p>I like this system with distributing points among a set of &quot;rating tags&quot;:</p>

        <ul>
          <li><p>If people are truly honest, and if one pick a good set of rating tags, I think this solves the problem you mentioned in the original post (?) </p></li>
          <li><p>A blog post author can grade replies fairly exactly, and in that way somewhat choose in which order the replies should appear (which I like to do), if other people don't leave many votes.</p></li>
        </ul></div>
    </div></div><div class="dw-p-as dw-as">




      <a class="dw-a dw-a-reply">Reply</a>
      <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
    </div><ol class="dw-res">

      <li id="dw-t-10" class="dw-t dw-depth-4"><a class="dw-z"></a><div id="post-10" class="dw-p"><div class="dw-p-hd">
        By <span class="dw-p-by" data-dw-u-id="71">Piotr</span><abbr class="dw-date dw-p-at" title="2013-07-02T19:39:12Z">, 2013-07-02 19:39:12Z</abbr><a class="dw-p-link">#10</a>
      </div><div class="dw-p-bd">
        <div class="dw-p-bd-blk"><p>I don't know if author can rate post well. If someone writes a very biased and emotional post, (s)he may still consider it &quot;insightful&quot;. In short: <a href="http://en.wikipedia.org/wiki/Nemo_iudex_in_causa_sua" rel="nofollow">no-one should be a judge in their own cause</a>.</p></div>
      </div></div><div class="dw-p-as dw-as">




        <a class="dw-a dw-a-reply">Reply</a>
        <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
      </div><ol class="dw-res">

        <li id="dw-t-12" class="dw-t dw-depth-5"><a class="dw-z"></a><div id="post-12" class="dw-p"><div class="dw-p-hd">
          By <span class="dw-p-by" data-dw-u-id="55">KajMagnus</span><abbr class="dw-date dw-p-at" title="2013-07-11T02:10:14Z">, 2013-07-11 02:10:14Z</abbr><a class="dw-p-link">#12</a><span class="dw-p-hd-e">, improved <abbr class="dw-date dw-p-at" title="2013-07-11T02:10:32Z">, 2013-07-11 02:10:32Z</abbr>
        </span>
        </div><div class="dw-p-bd">
          <div class="dw-p-bd-blk"><ol>
            <li><p>I agree that there would be problems with allowing people to rate their own comments as &quot;insightful&quot; and similarly.</p></li>
            <li><p>I think people would tend to use the &quot;off-topic&quot; tag correctly: if they know that it's okay to go off-topic, as long as they tag their comment as off-topic, then I think they'd use that tag correctly. — But for this, a simple checkbox would suffice.</p></li>
          </ol></div>
        </div></div><div class="dw-p-as dw-as">




          <a class="dw-a dw-a-reply">Reply</a>
          <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
        </div></li>
      </ol></li><li id="dw-t-11" class="dw-t dw-depth-4"><a class="dw-z"></a><div id="post-11" class="dw-p"><div class="dw-p-hd">
      By <span class="dw-p-by" data-dw-u-id="71">Piotr</span><abbr class="dw-date dw-p-at" title="2013-07-02T20:03:16Z">, 2013-07-02 20:03:16Z</abbr><a class="dw-p-link">#11</a>
    </div><div class="dw-p-bd">
      <div class="dw-p-bd-blk"><p>Weighting is IMHO not that important. What would be is:</p>

        <ul>
          <li>&quot;Like?&quot; (ambiguous) -&gt; &quot;Vote!&quot; (or better: direct voting options)</li>
          <li>Overall quality:
            <ul><li>-2 (below level of this forum)</li>
              <li>-1 (not particularly useful)</li>
              <li>0 (OK; default!)</li>
              <li>1 (good)</li>
              <li>2 (an outstanding post)</li></ul></li>
          <li>Tags (just some suggestions):
            <ul><li>insightful</li>
              <li>well-supported (for nice references)</li>
              <li>I agree (for things when you agree or sympathize with the author)</li>
              <li>well-written</li>
              <li>funny</li>
              <li>off-topic</li>
              <li>biased</li>
              <li>vague</li></ul></li>
        </ul></div>
    </div></div><div class="dw-p-as dw-as">




      <a class="dw-a dw-a-reply">Reply</a>
      <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
    </div></li>
    </ol></li>
  </ol></li>
</ol></div></li><li><div id="dw-t-13" class="dw-t dw-depth-1"><a class="dw-z"></a><div id="post-13" class="dw-p"><div class="dw-p-hd">
  By <span class="dw-p-by" data-dw-u-id="87">Lukas</span><abbr class="dw-date dw-p-at" title="2013-08-05T17:18:44Z">, 2013-08-05 17:18:44Z</abbr><a class="dw-p-link">#13</a><span class="dw-p-hd-e">, improved <abbr class="dw-date dw-p-at" title="2013-08-05T17:19:09Z">, 2013-08-05 17:19:09Z</abbr>
        </span>
</div><div class="dw-p-bd">
  <div class="dw-p-bd-blk"><p>For me, the first question would be:</p>

    <p>What do we want to use votes / scores for?</p>

    <ul>
      <li>Encourage good comments, which add value to the discussion, present new viewpoints
        <ul><li>IMO, Stackoverflow.com is a website where this works out nicely.</li></ul></li>
      <li>Prevent not-so-good comments
        <ul><li>See comment #5 for a possible list.</li></ul></li>
      <li>Give people to say &quot;I agree&quot; / &quot;I disagree&quot;
        <ul><li>In the end, this might lead to &quot;The majority wins&quot;</li>
          <li>If someone disagrees with something, IMHO he should write a comment and give reasons for it. Just clicking &quot;Downvote&quot; is just too easy...</li></ul></li>
      <li>Reward authors for good comments - what is considered &quot;good&quot; is defined by the other points choosen.</li>
    </ul></div>
</div></div><div class="dw-p-as dw-as">




  <a class="dw-a dw-a-reply">Reply</a>
  <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
</div><ol class="dw-res">

  <li id="dw-t-14" class="dw-t dw-depth-2"><a class="dw-z"></a><div id="post-14" class="dw-p"><div class="dw-p-hd">
    By <span class="dw-p-by" data-dw-u-id="71">Piotr</span><abbr class="dw-date dw-p-at" title="2013-08-09T15:15:59Z">, 2013-08-09 15:15:59Z</abbr><a class="dw-p-link">#14</a>
  </div><div class="dw-p-bd">
    <div class="dw-p-bd-blk"><p>And one more (IMHO the most important): to show for a visiting person the best comments (related to &quot;encourage good comments&quot;, but not the same).</p></div>
  </div></div><div class="dw-p-as dw-as">




    <a class="dw-a dw-a-reply">Reply</a>
    <a class="dw-a dw-a-rate" title="Vote up or down">Like?</a>
        <span class="dropdown">
        <a class="dw-a-more" data-toggle="dropdown" data-target="#">More</a>
        <div class="dropdown-menu dw-p-as-more">
          <a class="dw-a dw-a-flag icon-flag">Report</a><a class="dw-a dw-a-pin icon-pin">Pin</a><a class="dw-a dw-a-collapse-tree icon-collapse">Collapse tree</a><a class="dw-a dw-a-collapse-post icon-collapse">Collapse post</a><a class="dw-a dw-a-close-tree icon-archive">Close</a><a class="dw-a dw-a-delete icon-trash">Delete</a>
        </div>
      </span>
  </div></li>
</ol></div></li>
</ol>
</div>

</div>


</article>
</div>
</div>

<footer>
  <div class='footer'>
    <p><em>Debiki — for the fruitful conversations</em></p>
    <p><small>Copyright &copy; 2012 Kaj Magnus Lindberg</small></p>
    <p><small>Contact me <a href="/-0k7l6-contact">here</a></small></p>
    <!-- <p><small>
      <a href='http://www.debiki.se/terms/this-website/privacy-policy'>Privacy Policy</a>.
      <a href='http://www.debiki.se/terms/this-website/terms-of-use'>Terms of Use</a>.
      </small>
    </p> -->
    <p><small>User contributions licensed under
      <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
    </small>
    </p>

  </div>
</footer>

<div id="dw-hidden-templates">
  <div class="dw-fs" id="dw-fs-lgi-ok" title="Welcome">
    <form action="" method="post">
      <input type="hidden" class="dw-fi-xsrf" name="dw-fi-xsrf" value="1382191652176.xnuv4ln7e3">
      <p>You have been logged in, welcome
        <span id="dw-fs-lgi-ok-name">Anonymous</span>!
      </p>
      <div class="dw-submit-set">
        <input class="dw-fi-submit" type="submit" value="OK">
      </div>
    </form>
  </div><div class="dw-fs" id="dw-fs-lgi-failed" title="Login Error">
  <form action="" method="post">
    <input type="hidden" class="dw-fi-xsrf" name="dw-fi-xsrf" value="1382191652176.xnuv4ln7e3">
    <p>Login failed:
      <span id="dw-fs-lgi-failed-errmsg">unknown error</span>
    </p>
    <div class="dw-submit-set">
      <input class="dw-fi-submit" type="submit" value="OK">
    </div>
  </form>
</div><form id="dw-f-eml-prf" class="dw-f" action="?config-user=me" accept-charset="UTF-8" method="post" title="Email Notifications">
  <input type="hidden" class="dw-fi-xsrf" name="dw-fi-xsrf" value="1382191652176.xnuv4ln7e3">
  <p>Be notified via email of replies to your comments?</p>
  <div class="dw-submit-set">
    <input type="radio" id="dw-fi-eml-prf-rcv-no" name="dw-fi-eml-prf-rcv" value="no">
    <label for="dw-fi-eml-prf-rcv-no">No</label>
    <input type="radio" id="dw-fi-eml-prf-rcv-yes" name="dw-fi-eml-prf-rcv" value="yes">
    <label for="dw-fi-eml-prf-rcv-yes">Yes</label>
  </div>
  <div class="dw-submit-set dw-f-eml-prf-adr">
    <label for="dw-fi-eml-prf-adr">Your email address:</label>
    <input id="dw-fi-eml-prf-adr" name="dw-fi-eml-prf-adr" type="text" value="">
    <input type="submit" name="dw-fi-eml-prf-done" class="dw-fi-submit" value="Done">
  </div>
</form><li class="dw-fs dw-fs-re">
  <div class="dw-arw dw-arw-hz-line-to-sibling"></div>
  <form action="?reply=" accept-charset="UTF-8" method="post">
    <input type="hidden" class="dw-fi-xsrf" name="dw-fi-xsrf" value="1382191652176.xnuv4ln7e3">

    <input type="hidden" id="dw-fi-reply-where" name="dw-fi-reply-where" value="">
    <div>
      <label for="dw-fi-reply-text">Your reply:</label><br>
      <textarea id="dw-fi-reply-text" name="dw-fi-reply-text" rows="13" cols="38"></textarea>
    </div>

    <div class="dw-submit-set">
      <input class="dw-fi-cancel" type="button" value="Cancel">
      <input class="dw-fi-submit" type="submit" value="Post as ...">
    </div>
  </form>
</li><div class="dw-fs dw-fs-r">
  <form action="?rate" accept-charset="UTF-8" method="post" class="dw-f dw-f-r">
    <input type="hidden" class="dw-fi-xsrf" name="dw-fi-xsrf" value="1382191652176.xnuv4ln7e3">
    <p class="dw-inf dw-f-r-inf-many">
      You can select many rating tags.
    </p>
    <p class="dw-inf dw-f-r-inf-changing">
      You are <strong>changing</strong> your rating.
    </p>
    <div class="dw-f-r-tag-pane">

      <div class="dw-r-tag-set dw-r-tag-set-1"><input id="dw-fi-r-tag-1" type="checkbox" name="dw-fi-r-tag" value="interesting"><label for="dw-fi-r-tag-1">interesting</label><input id="dw-fi-r-tag-2" type="checkbox" name="dw-fi-r-tag" value="funny"><label for="dw-fi-r-tag-2">funny</label><input id="dw-fi-r-tag-3" type="checkbox" name="dw-fi-r-tag" value="off-topic"><label for="dw-fi-r-tag-3">off-topic</label></div>
      <div class="dw-r-tag-set dw-r-tag-set-2"><input id="dw-fi-r-tag-4" type="checkbox" name="dw-fi-r-tag" value="mediocre"><label for="dw-fi-r-tag-4">mediocre</label><input id="dw-fi-r-tag-5" type="checkbox" name="dw-fi-r-tag" value="faulty"><label for="dw-fi-r-tag-5">faulty</label></div>

      <div class="dw-submit-set">
        <input class="dw-fi-submit" type="submit" value="Submit">
        <input class="dw-fi-cancel" type="button" value="Cancel">
      </div>
    </div>
  </form>
</div><div class="dw-fs" title="Report Comment">
  <form id="dw-f-flg" action="?flag" accept-charset="UTF-8" method="post">
    <input type="hidden" class="dw-fi-xsrf" name="dw-fi-xsrf" value="1382191652176.xnuv4ln7e3">
    <div class="dw-f-flg-rsns"><input type="radio" id="dw-fi-flgs-spam" name="dw-fi-flg-reason" value="Spam"><label for="dw-fi-flgs-spam">Spam</label><input type="radio" id="dw-fi-flgs-copy" name="dw-fi-flg-reason" value="CopyVio"><label for="dw-fi-flgs-copy">Copyright Violation</label><input type="radio" id="dw-fi-flgs-ilgl" name="dw-fi-flg-reason" value="Illegal"><label for="dw-fi-flgs-ilgl">Illegal</label><input type="radio" id="dw-fi-flgs-othr" name="dw-fi-flg-reason" value="Other"><label for="dw-fi-flgs-othr">Other</label></div>
    <div>
      <label for="dw-fi-flg-details">Details (optional)</label><br>
      <textarea id="dw-fi-flg-details" rows="2" cols="30" name="dw-fi-flg-details" value=""></textarea>
    </div>
    <div class="dw-submit-set">
      <input class="dw-fi-submit" type="submit" value="Submit">
      <input class="dw-fi-cancel" type="button" value="Cancel">
    </div>
  </form>
</div><div class="dw-fs" title="Delete Comment">
  <form id="dw-f-dl" action="" accept-charset="UTF-8" method="post"><input type="hidden" class="dw-fi-xsrf" name="dw-fi-xsrf" value="1382191652176.xnuv4ln7e3"><div>
    <label for="dw-fi-dl-reason">Reason for deletion? (optional)</label><br>
    <textarea id="dw-fi-dl-reason" rows="2" cols="33" name="dw-fi-dl-reason" value=""></textarea>
  </div><div>
    <label for="dw-fi-dl-tree">Delete replies too</label>
    <input id="dw-fi-dl-tree" type="checkbox" name="dw-fi-dl-tree" value="t">
  </div><div class="dw-submit-set">
    <input class="dw-fi-submit" type="submit" value="Delete">
    <input class="dw-fi-cancel" type="button" value="Cancel">
  </div>
  </form>
</div><div class="dw-tps dw-inf-submitting-form">
  <p>Submitting ...</p>
</div><div class="dw-tps" id="dw-tps-sort-order">
  Comments rated <i>interesting, funny</i>
  <span class="dw-tps-sort-order-arw dw-flip-hz"></span>
  <div class="dw-tps-sort-order-your-post">
    Your post has no ratings, and was therefore placed below.
  </div>
  <span class="dw-tps-sort-order-arw"></span>
  Comments rated <i>boring, stupid</i>
  <div class="dw-tps-close">(Click this box to dismiss)</div>
</div>
</div><pre class="dw-user-page-data"></pre>

</body>
</html>

