@(doWhat: String, xsrfToken: String = "?", manageWebsiteUrl: String = "?")

@import debiki.DebikiHttp._
@import com.debiki.v0.Prelude._

@showLoginForm = {
  <p>Please click your email provider, or your Twitter or Facebook account,
  and login. The account you choose will become the owner of the
  new website that you are creating.
  <small>(Technical detail: The login happens over OpenID or OpenAuth.)
  </small>
  </p>
  <form accept-charset='UTF-8' method='post'>
  <label for='oid-input'>Your OpenID:</label>
  <input type='text' name='openid_identifier'>
  <input type='submit'>
  </form>
}

@showCreateWebsiteForm = {
  <p>You are logged in as [...]. This account will be the owner
     of the new website.
  </p>
  <p>Next:
  </p>
  <form accept-charset='UTF-8' method='post'>
  <input type='submit' value="Create website">
  <input name='dw-fi-xsrf' type='hidden' value='@xsrfToken'>
  </form>
}


@welcomeOwner = {
  <p>Website created, congratulations!
  <p><a class="btn btn-large" href="@{manageWebsiteUrl}">Continue</a>
}


<!DOCTYPE html>
<html>
<head>
  <title>Create Website</title>
</head>
<body>
<div>
  @doWhat match {
    case "showLoginForm" => { @showLoginForm }
    case "showCreateWebsiteForm" => { @showCreateWebsiteForm }
    case "welcomeOwner" => { @welcomeOwner }
    case _ => { assErr("DwE0kI78", "Bad doWhat: "+ doWhat) }
  }
</div>
</body>
</html>

